<div id="content" class="container-fluid">
  <h1>Pregunta <%= question.id %></h1>
  <p>
    <%= question.solution.split(',').length%> Respuestas válidas.
  </p>
  <p style="weight: bold;">
    <%= question.statement %>
  </p>

  <p>
    <strong>A:</strong><br />
    <%= question.answer_1 %>
  </p>

  <p>
    <strong>B:</strong><br />
    <%= question.answer_1 %>
  </p>

  <p>
    <strong>C:</strong><br />
    <%= question.answer_1 %>
  </p>

  <p>
    <strong>D:</strong><br />
    <%= question.answer_1 %>
  </p>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <p><strong> Solución: </strong><%= question.solution %></p>
</div>
