<div id="content" class="container-fluid">
  <h1>Pregunta <%= question.id %></h1>
  <pre>
    <%= question.solution.split(',').length%> Respuestas válidas.
  </pre>
  <pre style="weight: bold;">
    <%= question.statement %>
  </pre>

  <pre>
    <strong>A:</strong><br />
    <%= question.answer_0 %>
  </pre>

  <pre>
    <strong>B:</strong><br />
    <%= question.answer_1 %>
  </pre>

  <pre>
    <strong>C:</strong><br />
    <%= question.answer_2 %>
  </pre>

  <pre>
    <strong>D:</strong><br />
    <%= question.answer_3 %>
  </pr>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <p><strong> Solución: </strong><%= question.solution %></p>
</div>
